<div class="Header">
  <div class="Header__logo">
    <p>FURIMA</p>
  </div>
</div>
<div class="Breader">
  <div class="Breader_info">
    <p>フリマ  >  マイページ</p>
  </div>
</div>
<main class="Mypages">
  <div class="Mypages_main">
    <nav class="Mypages_main_side">
      <ul class="Mypages_main_side__lists">
        <li class="Mypages_main_side_list">
          <div class="Mypages_main_side_list_name">
            <p>マイページ</p>
            <p> > </p>
          </div>
        </li>
        <li class="Mypages_main_side_list">
          <div class="Mypages_main_side_list_name">
            <p>お知らせ</p>
            <p> > </p>
          </div>
        </li>
      </ul>
      <p>設定</p>    
      <ul class="Mypages_main_side__lists">
        <li class="Mypages_main_side_list">
          <div class="Mypages_main_side_list_name">
            <p>支払い方法</p>
            <p> > </p>
          </div>
        </li>
        <li class="Mypages_main_side_list">
          <div class="Mypages_main_side_list_name">
            <p>ログアウト</p>
            <p> > </p>
          </div>
        </li>
      </ul>
    </nav>          
    <div class="Mypages_right">
      <div class="Mypages_right_top">
        <div class="Mypages_right_top_inside">
          <div class="Mypages_right_top_inside_face">
            <%= image_tag "Face-image.png" %>
          </div>
          <div class="Mypages_right_top_inside_name">
            <p>Masami</p>
          </div>
          <div class="Mypages_right_top_inside_count">
            <p> 評価 ２  出品数 ２ </p>
          </div>
        </div>
      </div>  
      <div class="Mypages_right_middle">
        <div class="Mypages_right_middle_tabs">
          <div class="Mypages_right_middle_tabs_tab1">
            <p> お知らせ </p>
          </div>
          <div class="Mypages_right_middle_tabs_tab2">
            <p> やることリスト </p>
          </div>
        </div>
        <div class="Mypages_right_middle_panels">
          <div class="Mypages_right_middle_panels_show">
            <p> 一覧を見る </p>
          </div>  
        </div>
      </div>     
      <div class="Mypages_right_bottom">
        <div class="Mypages_right_bottom_list">
          <p>購入した商品</p>
        </div>
        <div class="Mypages_right_bottom_tabs">
          <div class="Mypages_right_bottom_tabs_tab3">
            <p> 取引中 </p>
          </div>
          <div class="Mypages_right_bottom_tabs_tab4">
            <p> 過去の取引 </p>
          </div>
        </div>
        <div class="Mypages_right_bottom_box">
        </div>
      </div>
    </div>
  </div>
</main>






