<div class="Buypage">
  <header class="#">
    <h1>
      <a href="#">
        <%= image_tag "logo1.png"%>
      </a>
    </h1>
  </header>
  <div class="Buypage_main">
    <section class="Buypage_main_confirm">
      <h2> 購入内容の確認 </h2>
    </section>
    <section class="Buypage_main_detail">
      <div class="Buypage_main_detail_info">
        <div class="Buypage_main_detail_info_photo">
          <%=image_tag "cat-image.jpeg"%>
        </div>
        <div class="Buypage_main_detail_info_detail">
          <div class="Buypage_main_detail_info_detail_name">
            <p> 子猫です</p>
          </div>
          <div class="Buypage_main_detail_info_detail_Amount">
            <span class="Buypage_main_detail_info_detail_Amount_fee">
              送料込み（税込）
            </span>
            <span class="Buypage_main_detail_info_detail_Amount_price">
              ¥300,000
            </span>
          </div>
        </div>
      </div>
    </section>
    <section class="Buypage_main_payamount">
      <div class="Buypage_main_payamount_total">
        <span>支払い金額</span>
      </div>
      <div class="Buypage_main_payamount_price">
        <p>¥686,892</p>
      </div>
    </section>  
    <section class="Buypage_main_payment">
      <div class="Buypage_main_payment_method">
        <h3>支払い方法</h3>
      </div>
      <div class="Buypage_main_payment_add">
        <span>登録してください</span>
      </div>
    </section>
    <section class="Buypage_main_delivery">
      <div class="Buypage_main_delivery_info">
        <div class="Buypage_main_delivery_info_place">
          <p> 配送先 </p>
        </div>
        <div class="Buypage_main_delivery_info_change">
          <p> 変更する > </p>
        </div>
      </div>
      <div class="Buypage_main_delivery_address">
        <div class="Buypage_main_delivery_address_info1">
          <p> 〒761-1705 </p>
        </div>
        <div class="Buypage_main_delivery_address_info2">
          <p> 香川県 高松市 香川町川東下111-11 </p>
        </div>
        <div class="Buypage_main_delivery_address_info3">
          <p> 小西 昌美 </p>
        </div>
      </div>
    </section>
    <section class="Buypage_main_buy">
      <div class="Buypage_main_buy_btn">
        <p> 購入する </p>
      </div>
    </section>
  </div>
  <div class="Buypage_footer">
    <nav>
      <ul class="Buypage_footer_text">
        <li>
          <a href="#">プライバシーポリシー
          </a>
        </li>
        <li>
          <a href="#">フリマ利用規約
          </a>
        </li>
        <li>
          <a href="#">特定商取引に関する表記
          </a>
      </ul>
    </nav>
    <a class="Buypage_footer_image">
      <%=image_tag "logo-white.png"%>
    </a>
    <p>
      ©FURIMA
    </p>
  </div>
</div>